<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd">

    <context:annotation-config/>
	<mvc:annotation-driven />
	
	<beans:import resource="classpath:/META-INF/config/datasource-context.xml" />
	
	<!-- Components for Spring Auto Scan  for @Component annotation ========= -->
	<context:component-scan base-package="com.grievance.web.healthcare.helper"/>
	<context:component-scan base-package="com.grievance.web.healthcare.bean.validators" />
	<context:component-scan base-package="com.grievance.web.healthcare.common.validation" />
	<context:component-scan base-package="com.grievance.web.healthcare.controller"/>
	<context:component-scan base-package="com.grievance.web.healthcare.beans"/>
	<context:component-scan base-package="com.grievance.web.healthcare.viewbean" />
	<context:component-scan base-package="com.grievance.web.healthcare.manager"/>
	<context:component-scan base-package="com.grievance.web.healthcare.manager.impl"/>
	<context:component-scan base-package="com.grievance.web.healthcare.model"/>
	<context:component-scan base-package="com.grievance.web.healthcare.service"/>
	<context:component-scan base-package="com.grievance.web.healthcare.view"/>
	<context:component-scan base-package="com.grievance.web.healthcare.interceptor" />
    <context:component-scan base-package="com.grievance.web.healthcare.util" />

	<beans:bean id="viewNameTranslator" class="org.springframework.web.servlet.view.DefaultRequestToViewNameTranslator"/>
	
	<beans:bean id="resourceBundleViewResolver" class="org.springframework.web.servlet.view.ResourceBundleViewResolver">
		<beans:property name="basename" ref="portal-views-basename" />
	</beans:bean>

	<beans:bean id="portal-views-basename" class="java.lang.String">
		<beans:constructor-arg value="META-INF/properties/portal-views"/>
	</beans:bean>
	
	<beans:bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
        <beans:property name="definitions">
            <util:list>
                <beans:value>classpath:/META-INF/config/tiles-portal-defs.xml</beans:value>
            </util:list>
        </beans:property>
        <beans:property name="checkRefresh" value="true"/>
    </beans:bean>
    
    <!-- 
    <beans:bean id="validationMessageSource" class="com.macys.hub.web.common.validation.ValidationMessageSource" />
    -->
    
    <!-- Message source for this context, loaded from localized "messages_xx" files. -->
	<beans:bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<beans:property name="basenames">
		<util:list>
				<beans:value>META-INF/properties/ui_error_messages</beans:value>
	   </util:list>
	   </beans:property>
	</beans:bean> 
</beans:beans>