<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd">

    <context:annotation-config/>
	<mvc:annotation-driven />
	
	<beans:import resource="classpath:/META-INF/config/datasource-context.xml" />
	
	<!-- Components for Spring Auto Scan  for @Component annotation ========= -->
	<context:component-scan base-package="com.grievance.web.healthcare.helper"/>
	<context:component-scan base-package="com.grievance.web.healthcare.bean.validators" />
	<context:component-scan base-package="com.grievance.web.healthcare.common.validation" />
	<context:component-scan base-package="com.grievance.web.healthcare.controller"/>
	<context:component-scan base-package="com.grievance.web.healthcare.beans.common"/>
	<context:component-scan base-package="com.grievance.web.healthcare.viewbean" />
	<context:component-scan base-package="com.grievance.web.healthcare.manager"/>
	<context:component-scan base-package="com.grievance.web.healthcare.manager.impl"/>
	<context:component-scan base-package="com.grievance.web.healthcare.newmodel"/>
	<context:component-scan base-package="com.grievance.web.healthcare.model"/>
	<context:component-scan base-package="com.grievance.web.healthcare.service"/>
	<context:component-scan base-package="com.grievance.web.healthcare.view"/>
	<context:component-scan base-package="com.grievance.web.healthcare.interceptor" />
    <context:component-scan base-package="com.grievance.web.healthcare.util" />

	<beans:bean id="viewNameTranslator" class="org.springframework.web.servlet.view.DefaultRequestToViewNameTranslator"/>
	
	<beans:bean id="resourceBundleViewResolver" class="org.springframework.web.servlet.view.ResourceBundleViewResolver">
		<beans:property name="basename" ref="portal-views-basename" />
	</beans:bean>

	<beans:bean id="portal-views-basename" class="java.lang.String">
		<beans:constructor-arg value="META-INF/properties/portal-views"/>
	</beans:bean>
	
	<beans:bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
        <beans:property name="definitions">
            <util:list>
                <beans:value>classpath:/META-INF/config/tiles-portal-defs.xml</beans:value>
            </util:list>
        </beans:property>
        <beans:property name="checkRefresh" value="true"/>
    </beans:bean>
    
    <!-- 
    <beans:bean id="validationMessageSource" class="com.macys.hub.web.common.validation.ValidationMessageSource" />
    -->
    
    <!-- Message source for this context, loaded from localized "messages_xx" files. -->
	<beans:bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<beans:property name="basenames">
		<util:list>
				<beans:value>META-INF/properties/ui_error_messages</beans:value>
	   </util:list>
	   </beans:property>
	</beans:bean> 
	
	<!-- Configure the grievance-dozer-mapping.xml  -->
    <beans:bean id="dozerTransformer" class="com.grievance.web.healthcare.transform.DozerTransformer">
        <beans:constructor-arg>
            <util:list id="mappingFiles" value-type="java.lang.String">
                <beans:value>META-INF/config/grievance-dozer-mapping.xml</beans:value>
            </util:list>
        </beans:constructor-arg>
    </beans:bean>
    <util:properties id="killswitchProperties"
          location="classpath:META-INF\properties\killswitch.properties"/>
    
     <beans:bean id="killSwitchHelper"
                class="com.grievance.web.healthcare.helper.KillSwitchHelper">
        <beans:property name="servletContext" ref="servletContext"/>
    </beans:bean>
    
 	<util:properties id="regularExpression"
          location="classpath:META-INF\properties\portal_regular_expressions.properties"/>
                    
    <beans:bean id="regularExpressionViewHelper"
                class="com.grievance.web.healthcare.helper.RegularExpressionViewHelper">
        <beans:property name="servletContext" ref="servletContext"/>
    </beans:bean>
                     
	<beans:bean id="helperUtil" class="com.grievance.web.healthcare.util.HelperUtil">
        <beans:property name="months">
            <util:map key-type="java.lang.Integer" value-type="java.lang.String">
                <beans:entry key="01" value="January"/>
                <beans:entry key="02" value="February"/>
                <beans:entry key="03" value="March"/>
                <beans:entry key="04" value="April"/>
                <beans:entry key="05" value="May"/>
                <beans:entry key="06" value="June"/>
                <beans:entry key="07" value="July"/>
                <beans:entry key="08" value="August"/>
                <beans:entry key="09" value="September"/>
                <beans:entry key="10" value="October"/>
                <beans:entry key="11" value="November"/>
                <beans:entry key="12" value="December"/>
            </util:map>
        </beans:property>
        <beans:property name="days">
            <util:map key-type="java.lang.Integer" value-type="java.lang.Integer">
                <beans:entry key="1" value="1"/>
                <beans:entry key="2" value="2"/>
                <beans:entry key="3" value="3"/>
                <beans:entry key="4" value="4"/>
                <beans:entry key="5" value="5"/>
                <beans:entry key="6" value="6"/>
                <beans:entry key="7" value="7"/>
                <beans:entry key="8" value="8"/>
                <beans:entry key="9" value="9"/>
                <beans:entry key="10" value="10"/>
                <beans:entry key="11" value="11"/>
                <beans:entry key="12" value="12"/>
                <beans:entry key="13" value="13"/>
                <beans:entry key="14" value="14"/>
                <beans:entry key="15" value="15"/>
                <beans:entry key="16" value="16"/>
                <beans:entry key="17" value="17"/>
                <beans:entry key="18" value="18"/>
                <beans:entry key="19" value="19"/>
                <beans:entry key="20" value="20"/>
                <beans:entry key="21" value="21"/>
                <beans:entry key="22" value="22"/>
                <beans:entry key="23" value="23"/>
                <beans:entry key="24" value="24"/>
                <beans:entry key="25" value="25"/>
                <beans:entry key="26" value="26"/>
                <beans:entry key="27" value="27"/>
                <beans:entry key="28" value="28"/>
                <beans:entry key="29" value="29"/>
                <beans:entry key="30" value="30"/>
                <beans:entry key="31" value="31"/>
            </util:map>
        </beans:property>
        <beans:property name="states">
            <util:map key-type="java.lang.String" value-type="java.lang.String">
                <beans:entry key="CA" value="California"/>
                <beans:entry key="NY" value="New York"/>
                <beans:entry key="NJ" value="New Jersy"/>
                <beans:entry key="TA" value="Texas"/>
                <beans:entry key="NA" value="Naveda"/>
            </util:map>
        </beans:property>
        <beans:property name="minimumAgeForRegistration">
            <beans:value>13</beans:value>
        </beans:property>
    </beans:bean>
</beans:beans>